@import "/src/assets/layout/styles/layout/layout.scss";

.registro-container {
    background-color: $third-color;
    background-image:
      linear-gradient(to right bottom, $primary-color 50%, transparent 50%),
      linear-gradient(to left top, $second-color 50%, transparent 50%);
    background-size:
      200px 200px,
      200px 200px;
    background-position:
      left top,
      right bottom;
    background-repeat: no-repeat;

    .main-container {
        background-color: #ffffff;
        border-radius: 20px;
    }

}

h1 {
    font-weight: 600;
    color: $second-color;
}

.derechos-autor {
    display: flex;
    padding-top: 15px;
    color: #8b8b8b;
}

@media (max-width: 370px) {
    .logo-horizontal {
        height: 60px;
    }
}