<div
    class="registro-container flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
            <div class="grid justify-content-center">

                <div class="col-12 mt-8 mb-8 p-2 md:p-8 md:pb-3 main-container">
                    <div
                        class="flex flex-column justify-content-center align-items-center text-center px-3 py-3 md:py-0">
                        <h1 class="mb-2">¡SOLICITUD ENVIADA CORRECTAMENTE!</h1>
                        <span class="text-gray-600 text-2xl">Pronto te notificaremos sobre tu solicitud para ser voluntario de control electoral de la Revolución Ciudadana  para las elecciones 2025</span>
                        <p class="text-gray-900 sm:line-height-2 md:line-height-4 mt-4" style="max-width:800px;">
                            “Agradecemos sinceramente que te hayas registrado como voluntario para
                            participar en el próximo proceso electoral. Tu disposición para colaborar es fundamental
                            para garantizar que este evento se lleve a cabo de manera justa y ordenada.
                            <br>
                            <br>
                            Tu perfil será revisado y validado por nuestro equipo. Pronto recibirás
                            una respuesta con más detalles sobre tu participación.”
                        </p>
                        <img src="assets/layout/images/LogoHorizontalRC5.png" class="mt-4 logo-horizontal" height="100"
                            alt="Logo Revolución Ciudadana">

                    </div>
                    <span class="derechos-autor pb-2 pt-2 md:pt-4 md:pb-4">© 2024 Todos los derechos reservados. RC5.
                        ®</span>
                </div>
            </div>
        </div>
    </div>
</div>