<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4 flex justify-content-end">
                <ng-template pTemplate="right">
                    <button pButton pRipple class="p-button-rounded p-button-secondary mr-2" (click)="cargarUsuarios()"
                        icon="pi pi-refresh"></button>
                    <button pButton pRipple class="p-button-rounded p-button-primary" (click)="agregarFila()"
                        label="Agregar" icon="pi pi-plus"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaUsuarios" [columns]="cols" responsiveLayout="scroll" [rows]="rowsInit"
                [globalFilterFields]="globalFilterFields" [paginator]="true"
                [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                [rowHover]="true" dataKey="id">

                <!-- Caption -->
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestión Usuarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let item of cols" class="text-center" [hidden]="item.type === 'hidden'"
                            [pSortableColumn]="item.field" [ngStyle]="{'max-width': item.maxWidth || 'auto'}">
                            {{item.header}}
                            <p-sortIcon [field]="item.field"></p-sortIcon>
                        </th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </ng-template>

                <!-- Body -->
                <ng-template pTemplate="body" let-listaUsuario>
                    <tr *ngIf="email !== listaUsuario.correo">
                        <td *ngFor="let col of cols">
                            <!-- Text Type -->
                            <span *ngIf="col.type === 'text'">{{ listaUsuario | transformarDatos: col.field | titlecase
                                }}</span>

                            <!-- Badge Type -->
                            <span *ngIf="col.type === 'badge'"
                                [class]="'text-center customer-badge status-' + (listaUsuario[col.field] === '1' ? 'qualified' : listaUsuario[col.field] === '2' ? 'unqualified' : '')">
                                {{ listaUsuario[col.field] === '1' ? 'Activado' : listaUsuario[col.field] === '2' ?
                                'Desactivado' : '' }}
                            </span>
                        </td>

                        <!-- Opciones -->
                        <td>
                            <div class="flex justify-content-center">
                                <!-- Modificar Estado -->
                                <button *ngIf="!editing" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-secondary mr-2"
                                    (click)="usuarioModificar(listaUsuario)" pTooltip="Modificar usuario"
                                    tooltipPosition="top">
                                </button>

                                <!-- Restablecer Contraseña -->
                                <button *ngIf="!editing" pButton pRipple icon="pi pi-lock"
                                    class="p-button-rounded p-button-danger" (click)="contrasenaModicar(listaUsuario)"
                                    pTooltip="Restablecer contraseña" tooltipPosition="top">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog [(visible)]="modificarContrasena" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>¿Estás seguro que quieres enviar enlace para modificar contraseña<b></b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="modificarContrasena = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button p-button-primary" label="Sí"
                        (click)="ingresarContrasena = true;modificarContrasena = false"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="ingresarContrasena" header="Contraseña" [modal]="true" [style]="{width:'450px'}">
                <div class="flex flex-column align-items-start justify-content-center max-w-30rem">
                    <label for="password" class="block text-900 font-medium text-md mb-2">Ingrese su contraseña</label>
                    <p-password id="password" placeholder="Password" [toggleMask]="true" [feedback]="false"
                        styleClass="mb-1" inputStyleClass="w-full p-3 md:w-30rem" [(ngModel)]="password"></p-password>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="ingresarContrasena = false; modificarContrasena = false; password = ''"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button p-button-primary" label="Sí"
                        (click)="validarContrasena()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="crearUsuario" [style]="{ width: '450px' }" header="Crear usuario" [modal]="true"
                styleClass="p-fluid" (onHide)="cerrarDialog()">
                <ng-template pTemplate="content">
                    <form [formGroup]="usuarioForm">
                        <div class="field">
                            <label for="nombres">Nombres</label>
                            <input type="text" pInputText id="nombres" formControlName="nombres" required autofocus />
                            <div *ngIf="usuarioForm.get('nombres').invalid && usuarioForm.get('nombres').touched"
                                class="p-error">
                                El nombre es requerido (mínimo 3 caracteres) (máximo 15 caracteres)
                            </div>
                        </div>

                        <div class="field">
                            <label for="correo">Correo</label>
                            <input type="email" pInputText id="correo" formControlName="correo" required />
                            <div *ngIf="usuarioForm.get('correo').invalid && usuarioForm.get('correo').touched"
                                class="p-error">
                                Correo inválido
                            </div>
                        </div>

                        <div class="field">
                            <label for="rol">Rol</label>
                            <p-dropdown formControlName="selectedRol" [options]="roles" optionLabel="rol"
                                placeholder="Seleccione un rol" appendTo="body"></p-dropdown>
                            <div *ngIf="usuarioForm.get('selectedRol').invalid && usuarioForm.get('selectedRol').touched"
                                class="p-error">
                                Seleccione un rol
                            </div>
                        </div>

                        <div class="field" *ngIf="usuarioAtualizar == true">
                            <label for="estado">Estado</label>
                            <p-dropdown formControlName="selectedEstado" [options]="estado" optionLabel="label"
                                placeholder="Seleccione un estado" appendTo="body"></p-dropdown>
                            <div *ngIf="usuarioForm.get('selectedEstado').invalid && usuarioForm.get('selectedEstado').touched"
                                class="p-error">
                                Seleccione un estado
                            </div>
                        </div>
                    </form>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="cerrarDialog()"></button>
                    <button pButton pRipple [label]="usuarioAtualizar == false ? 'Guardar': 'Actualizar'"
                        icon="pi pi-check" class="p-button-text"
                        (click)="guardar(usuarioAtualizar == false ? 'guardar': 'actualizar')"></button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#08b549" type="ball-fussion" [fullScreen]="true">
    <p style="color: #08b549"> Cargando... </p>
</ngx-spinner>