/* General */
$scale:14px;                    /* main font size */ 
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 


$primary-color: #08b549;
$second-color: #284154;    // Naranja ámbar
$third-color: #e4ff4c;     // Azul verdoso
$fourth-color: #f7f3e3;    // Crema suave